<div class="container">
    <div class= "row">
      <div class="col-xs-12">
        <h3> Szukaj puste pola </h3>
      </div>
    </div>
  </div>

  <hr>
    <h4>Wybierz: </h4>
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle" >
          Rok <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let c of faculty$.year$; let i=index" >
            <a class="dropdown-item" href="#" (click)= onChange(c) > {{ c }} </a>
          </li>
        </ul>
      </div>

      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Wydział <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let c of faculty$.name$, let i=index " >
            <a class="dropdown-item" href="#" (click)= onChangeShortCut(i)> {{ c }} </a>
          </li>
        </ul>

      </div>

      <div class="row">
          <div class="col-xs-12">
              <button type="button" class="btn btn-primary" (click)="getSubjectsWithQueryInLecturev2()" > Wyszukaj </button>
          </div>
        </div>



      <div class="row">
          <div class="col-xs-12">
            <a

            class= "list-group-item clearfix"
            *ngFor= "let x of allSubjectsLecture$ | async let i=index "
            href= {{x.module_url}} >
            <div *ngIf= "x.module.description ==='Do wypełnienia' || x.module.description==='.' || !x.module.description" >
                Opis do wypełnienia
            </div>
               <div *ngIf="x.notices === '-' || !x.notices">
                 Uwagi do wypełnienia
               </div>
               <div *ngIf= "x.module.description ==='Do wypełnienia' || x.module.description==='.' || !x.module.description || x.notices === '-' || !x.notices" >
                  <hr>
                  Module URL: {{x.module_url}}
              </div>
            </a>

          </div>
        </div>


