<button (click)="getKot()"> getKot </button>

<button (click) ="getSubjects()"> getSubjects</button>

<button (click) ="getPosts()"> getPosts</button>

{{allSubjects$ | async}}

<!-- <div *ngFor= "let p of FieldsOfStudy$ | async">
   {{p}}
</div> -->


<!-- <div class="example-config">
  <kendo-dropdownlist [data]="listOfFaculties" [(ngModel)]="selectedvalue"></kendo-dropdownlist>
</div> -->




<div *ngFor= "let p of testArray$">
  {{p}}
</div>


<button (click) ="getFieldsOfStudy()"> getFieldsOfStudy</button>

Semestr: <input type= "text" [(ngModel)]="semestr$">
Wydział: <input type= " text" [(ngModel)] = "wydzial$">

<!-- {{FieldsOfStudy$ | async}} -->
<!-- {{list$}} -->

<div *ngFor= "let p of FieldsOfStudy$ | async">
   {{p}}
</div>

<!-- proba wyswietlania pojedynczych name'ow -->
<!-- <div *ngFor= "let k of allSubjects$ | async">
  {{k}}
</div> -->


