<app-header (featureSelected)="onNavigate($event)"> </app-header>
<div class="container">
  <div class="row">
    <div clas="col-md-12">
        <app-faculties *ngIf= "loadedFeature === 'faculty'"></app-faculties>
        <app-blank-fields-list *ngIf ="loadedFeature === 'blank-field'"></app-blank-fields-list>
        <app-search-subject-list *ngIf= "loadedFeature === 'search-subject'"> </app-search-subject-list>
        <app-show-subjects-list *ngIf = "loadedFeature === 'show-subjects'"> </app-show-subjects-list>
        <app-show-all-subjects-list *ngIf = "loadedFeature === 'show-all-subjects'"> </app-show-all-subjects-list>
        <app-compare-fields-of-study-list *ngIf= "loadedFeature === 'compare-fields'"> </app-compare-fields-of-study-list>
    </div>
  </div>
</div>
