<app-header (featureSelected)="onNavigate($event)"> </app-header>
<div class="container">
  <div class="row">
    <div clas="col-md-12">
        <app-faculties *ngIf= "loadedFeature === 'faculty'"></app-faculties>
        <app-blank-fields-list *ngIf ="loadedFeature === 'blank-field'"></app-blank-fields-list>
        <app-search-subject-list *ngIf= "loadedFeature === 'search-subject'"> </app-search-subject-list>
    </div>
  </div>
</div>

<!-- <app-faculties></app-faculties>
<app-faculty-list></app-faculty-list> -->



<div class="container">
  <div class= "row">
    <div class="col-xs-12">
      <h3> Engineering Thesis </h3>
      <hr>
    </div>
  </div>
</div>

<button class="btn btn-primary"> Button Test Bootstrap</button>

<button (click)="getSubjectsWithQueryInLecture()"> getKot </button>

<button class= "btn btn-primary" [disabled]="query$ === '' " (click) ="getSubjectsWithQuery()"> getSubjectsWithQuery</button>

<button (click) ="getSubjectsWithName()"> getSubjectsWithNameOnFields</button>

<button (click) ="getPosts()"> getPosts</button>

<button (click) ="getUrlForSlug()"> getUrlForSlug </button>

<button (click) ="foundSlugInUrl()"> number slug in url</button>

<button (click) ="getAllSubjectsWithName()"> getAllSubjectsWithNameInYear </button>

<button (click) = "checkIfFilledDescription()"> sprawdz czy opisy są wypełnione </button>

<button class= "btn btn-primary" [disabled]="query$ === '' " (click)="getSubjectsWithQueryInLecture()"> getSubjectsWithQueryInLecture </button>

<button (click)="getSubjectsWithQueryInLecturev2()"> getSubjectsWithQueryInLecturev2 </button>

<button class= "btn btn-primary" [disabled]="query$ === '' " (click)="getSubjectsWithQueryInLecturev3()"> getSubjectsWithQueryInLecturev3 </button>

<!-- {{allSubjects$ | async}} -->
<pre>{{allPosts$ | async}}</pre>

<!-- {{testowyNgOnInit$ | async}} -->




<!-- <div class="example-config">
  <kendo-dropdownlist [data]="listOfFaculties" [(ngModel)]="selectedvalue"></kendo-dropdownlist>
</div> -->

<button (click)="getTwoPhasesSimple()">getTwoPhasesSimple</button>

<button (click)="getTwoPhasesAdvanced()">getTwoPhasesAdvanced</button>

<pre>{{twoPhasesSimple | async}}</pre>
<pre>{{twoPhasesAdvanced | async}}</pre>




<div *ngFor= "let p of testArray$">
  {{p}}
</div>


<button (click) ="getFieldsOfStudy()"> getFieldsOfStudy</button>

Semestr: <input type= "text" class="form-control" [(ngModel)]="semestr$">
Wydział: <input type= " text" [(ngModel)] = "wydzial$">
Szukaj: <input type= " text" [(ngModel)] = "query$">

<!-- {{FieldsOfStudy$ | async}} -->
<!-- {{list$}} -->

<!-- <div *ngFor= "let p of FieldsOfStudy$ | async">
   {{p}}
</div> -->
<p> Studia Stacjonarne I stopnia</p>
<ng-container *ngFor="let p of FieldsOfStudy$ | async">
  <div *ngIf="p.type === 'Stacjonarne' && p.level==='Studia I stopnia'">
  <!-- {{p.type}} -->
  <!-- {{p.level}} -->
  {{p.subject}}
  </div>
</ng-container>

<p>Studia Stacjonarne II stopnia</p>
<ng-container *ngFor="let p of FieldsOfStudy$ | async">
  <div *ngIf="p.type === 'Stacjonarne' && p.level==='Studia II stopnia'">
  <!-- {{p.type}} -->
  <!-- {{p.level}} -->
  {{p.subject}}
  </div>
</ng-container>

<p>Studia Stacjonarne III stopnia</p>
<ng-container *ngFor="let p of FieldsOfStudy$ | async">
  <div *ngIf="p.type === 'Stacjonarne' && p.level==='Studia III stopnia'">
  <!-- {{p.type}} -->
  <!-- {{p.level}} -->
  {{p.subject}}
  </div>
</ng-container>

<p>Studia Niestacjonarne</p>
<ng-container *ngFor="let p of FieldsOfStudy$ | async">
    <div *ngIf="p.type === 'Niestacjonarne'">
    <!-- {{p.type}} -->
    {{p.level}}
    {{p.subject}}
    </div>
  </ng-container>

<ng-template #stacjonarne>
<p>Studia Stacjonarne</p>
</ng-template>



<form>
    <div *ngFor= "let subject of allSubjectsWithQuery$ | async" >
        {{subject}}
     </div>
</form>

<form>
<div *ngFor= "let subject of allSubjects$ | async" (mouseover)="fireEvent(subject.description)" (click)= "clickSubject()">
    <input type= "checkbox" ([ngModel])="subject" > {{subject.name}} {{subject.code}}
 </div>
</form>




<div *ngFor= "let subject of allSubjectsInYear$ | async">
    {{subject.name}}
 </div>

<!-- <div *ngFor= "let url of urlForSlug$ | async">
    {{url}}
 </div> -->

 <select>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>



  <h1>My Application</h1>
<select [(ngModel)]="selectedFaculty$" (ngModelChange)="onChange($event)">
  <option type= "checkbox" *ngFor="let c of wydzialDropDown$; let i=index" [ngValue]="c">{{c}}</option>
</select>


<select [(ngModel)]="selectedYear$">
    <option *ngFor="let c of semestrDropDown$" [ngValue]="c">{{c}}</option>
  </select>

<!-- sprawdzanie czy description jest uzupelniony  -->
<form>
    <div *ngFor= "let subject of getDescriptionOfSubjects$ | async" >
        <div *ngIf=" subject.description==='Do wypełnienia' || subject.description==='.' || !subject.description">
          {{subject.name}} {{subject.description}}
        </div>
     </div>
</form>


<pre>{{allSubjectsLecture$ | async}}</pre>

<!--
    <div *ngFor= "let x of allSubjectsLecture$ | async; let i=index"  (click)= "clickSubject(i)" >
       <div *ngFor= "let p of x.activities">
        {{x.name}}
        {{p.description}}
       </div>
    </div> -->

    <!-- Sprawdzanie czy uzupełnione, click nie działa bo te slugi źle wypisuje -->
    <!-- sprawdza  description, notice i wyświetla url w którym to jest miejscu-->

     <!-- <form>
        <div *ngFor= "let x of allSubjectsLecture$ | async let i=index ">
          <div *ngIf= "x.module.description ==='Do wypełnienia' || x.module.description==='.' || !x.module.description" (click)= "clickSubject(i)" >
           Description do wypełnienia: {{x.module.name}}
          </div>
          <div *ngIf="x.notices === '-' || !x.notices" (click)= "clickSubject(i)">
            Notices do wypełnienia: {{x.module.name}}
            Module URL: {{x.module_url}}
          </div>
         </div>
    </form> -->


    <!-- <form>
        <div *ngFor= "let x of allSubjectsLecture$ | async let i=index ">
          {{x.module_url}}
          {{x.module.name}}
         </div>
    </form> -->


    <!-- <form>
        <div *ngFor= "let x of allSubjectsLecture$ | async let i=index ">
           {{x.module.name}}
         </div>
    </form> -->



