<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success"> Show faculty</button>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button type ="button"
            class = "btn btn-primary dropdown-toggle">
          Select </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
      href="#"
      class= "list-group-item clearfix"
      *ngFor="let faculty of FieldsOfStudy$ | async">
      <div class="pull-left">
          <h4 class="list-group-item-heading"> {{ faculty.subject }}</h4>
          <p class="list-group-item-text"> {{ faculty.level }}</p>
          <p class="list-group-item-text">{{ faculty.type }}</p>
        </div>
      </a>

    </div>
  </div>



<p>faculty-fields works!</p>
