<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success"  [disabled]="query$ === '' " (click)="getFieldsOfStudy()"> Select Year</button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          2017-2018 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let c of faculty$.year$; let i=index" >
            <a class="dropdown-item" href="#" (click)= onChange(c)> {{ c }} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
      href="#"
      class= "list-group-item clearfix"
      *ngFor="let faculty of faculty$.name$, let i=index">
      <div class="pull-left">
          <h4 class="list-group-item-heading" (click)="fields(i)"> {{ faculty }} </h4>
        </div>
      </a>

    </div>
  </div>


  <hr>
  <div class="row">
    <div class="col-xs-12">
        <div class="col-md-12">
      <a
      href="#"
      class= "list-group-item"
       *ngFor="let p of FieldsOfStudy$ | async, let i=index">
          <div class= "list-group-item-text" (click) = "testowy2(i)" >
          <!-- {{p.type}} -->
          <!-- {{p.level}} -->
          {{p.subject}}
           </div>

      </a>
    </div>
    </div>

  </div>


  <hr>
  <!-- <div class="row">
    <div class="col-xs-12">
      <a
      href="#"
      class= "list-group-item"
      *ngFor= "let subject of allSubjects$ | async" >
       <div class= "list-group-item-text" >
        {{subject.name}}
       </div>
      </a>

    </div>
  </div> -->


<!-- próba komunikacji między komponentami, reszta w faculty-single.component.ts i faculty-single.component.html -->
  <div class="row">
  <div class="col-xs-12">
      <app-faculty-single
        [faculty]="allSubjects$"
        ></app-faculty-single>
    </div>
  </div>




  <!-- <app-faculty-single> </app-faculty-single> -->

