<div class="container">
    <div class= "row">
      <div class="col-xs-12">
        <h3> Search a subjects name </h3>
      </div>
    </div>
  </div>


  <hr>
    <h4>Select: </h4>
      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle" >
          Year <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let c of faculty$.year$; let i=index" >
            <a class="dropdown-item" href="#" (click)= onChange(c) > {{ c }} </a>
          </li>
        </ul>
      </div>

      <div
        class="btn-group"
        appDropdown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Wydział <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li *ngFor="let c of faculty$.name$, let i=index " >
            <a class="dropdown-item" href="#" (click)= onChangeShortCut(i)> {{ c }} </a>
          </li>
        </ul>

      </div>

      <hr>
      Query: <input type= "text" class="form-control" [(ngModel)]="query$">
      <hr>

      <div class="row">
          <div class="col-xs-12">
              <button type="button" class="btn btn-primary" (click)="getSubjectsWithQueryInLecturev3()" > Search </button>
          </div>
      </div>

      <!-- <div *ngFor= "let subject of allSubjectsWithQuery$ | async" >
          {{subject}}
       </div> -->

       <div class="row">
          <div class="col-xs-12">
            <a
            href="#"
            class= "list-group-item clearfix"
                *ngFor= "let x of allSubjectsLecture$ | async let i=index " (click) = "subjectId(x.module_id)">
                   {{x.module.name}}
                   {{x.module_id}}
            </a>

          </div>
        </div>

        <!-- <pre>{{allSubjectsLecture$ | async}}</pre> -->

        <button (click)=" moduleIdFunction()"> ModuleIdTest </button>
       <pre>  {{dataModuleId$ | async}} </pre>
